@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible].bg-white + [data-collapsible].bg-white,
[data-collapsible].bg-slate-100 + [data-collapsible].bg-slate-100 {
  @apply pt-0 md:pt-0;
}

/* TailwindCSS-Overrides */

/* Hauptnavigation - Hover-Effekt für Links */
.nav-link:hover {
  color: var(--header-link-hover-color) !important;
  text-decoration: underline !important;
}

.hover\:text-white:hover {
  color: var(--page-link-hover-color) !important;
}


.leading-loose * {
  line-height: 2 !important;
}

/* letter-spacing */
.tracking-wider-all * {
  letter-spacing: 0.12em !important;
}


.button-prismic-link:hover {
    background-color: var(--hover-bg-color) !important;
    color: var(--hover-text-color) !important;
    border-color: var(--hover-text-color) !important; /* Border-Farbe beim Hover */
}

.focus\:ring-current:focus {
  --tw-ring-color: var(--focus-ring-color) !important;
  box-shadow: 0 0 0 calc(2px + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color), var(--tw-ring-shadow, 0 0 #0000);
}

a[data-type="prismic-link"] {
	@apply underline;
	color: var(--page-link-color);
}

a[data-type="prismic-link"]:hover {
	color: var(--page-link-hover-color) !important;
}

:root {
  /* --- Fallback Styles, die im CMS verwendet werden --- */
  --page-bg-color: #c7c9fe;
  --page-color: #5f5fab;
  --header-bg-color: #232442;
  --header-color: #cfcefe;
  --header-link-color: #cfcefe;
  --header-link-hover-color: #716db5;
  --header-link-hover-bg-color: red;
  --page-link-color: #26683c;
  --page-link-hover-color: #2ca741;
  /* not css notation, as it will be recalculated as coming from cms */
  --header-bg-opacity: 0;
  /* --- Fallback Styles, die nicht im CMS verwendet werden --- */
  --header-link-active-color: #cfcefe;
  --header-link-visited-color: #cfcefe;
  --body-font: 'Roboto', sans-serif;
  --nav-font: 'Roboto'; 
  --footer-bg-color: #232442;
  --footer-color: #5f5fab;
  --footer-link-color: var(--page-link-color);
  --footer-link-hover-color: var(--page-link-hover-color);
  --footer-link-active-color: var(--page-link-color);
  --footer-link-visited-color: var(--page-link-color);
  --page-link-hover-color-bg: transparent;
  --page-link-active-color: var(--page-link-color);
  --page-link-visited-color: var(--page-link-color);
  --hero-overlay-color: transparent;
  --button-color: var(--page-link-color);
  --button-hover-color: var(--page-link-hover-color);
  --button-bg-color: transparent;
  --button-hover-bg-color: transparent;
  --button-active-bg-color: var(--page-link-active-color);
  --button-active-color: var(--page-link-active-color);
  --button-visited-color: var(--page-link-visited-color);
  --button-border-radius: 0;
  --button-padding-y: 0.5rem;
  --button-padding-x: 1rem;
  --focus-ring-color: #000000;
  --hover-bg-color: red;

}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p, li {
  font-size: 1.2rem;
}
