@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible].bg-white + [data-collapsible].bg-white,
[data-collapsible].bg-slate-100 + [data-collapsible].bg-slate-100 {
	@apply pt-0 md:pt-0;
}

:root {
  /* --- Fallback Styles --- */
  --nav-font: 'Roboto'; /* Standardwert */
  --header-bg-color: rgb(136, 55, 55);
  --header-color: green;
  --header-link-color: white;
  --header-link-hover-color: white;
  --header-link-active-color: white;
  --header-link-visited-color: white;
  --header-bg-opacity: 1;
  --footer-bg-color: maroon;
  --footer-color: rgb(216, 19, 19);
  --footer-link-color: white;
  --footer-link-hover-color: white;
  --footer-link-active-color: white;
  --footer-link-visited-color: white;
  --footer-bg-opacity: 1;
  --page-bg-color: black;
  --page-color: white;
  --page-link-color: white;
  --page-link-hover-color: white;
  --page-link-active-color: white;
  --page-link-visited-color: white;
  --page-bg-opacity: 1;
  --hero-overlay-color: white;
  p, li {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}